/* index.html
    header and body*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba( 255, 255, 255, 0.3 );

}
header.sticky{
    background: rgba( 255, 255, 255, 1 )
}
header:hover{
    background: rgba( 255, 255, 255, 1 );
}

.logo{
    flex: 1;

}

.menu{
    flex: 3;
    display: flex;

}
.menu > li{
    padding: 0 12px ;
    position: relative;

}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 50px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #000;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu li a{
    font-weight: normal;
    font-size: 12px!important;
}

.menu > li > a{
    font-size: 12px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}

.function {
    flex: 1;
    display: flex;
}
.function > li{
    padding: 0 12px;
}

.function > li:first-child {
    position: relative;
}
.function > li:first-child input{
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.function > li:first-child i{
    position: absolute;
    right: 10px;
    
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}


.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
   

  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
  }

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 14px;
    width: 14px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #000;
}


/* Footer */
footer{
    display:flex;
    background-color: 255;
} 

.footerLeft{
    flex:2;
    display: flex;
    justify-content: space-between;
    padding : 50px;
    padding-left: 20px;
}

.footerRight{
    display:1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.fMailInput{
    padding: 5px;


}

.fButton{
    padding : 5px;
    background-color: black;
    color: white;

}
.fIcons{
    display: flex;

}

.flistTitle{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 20px;
    color: #000;
}
.Icon{
    padding-right: 10px;
    cursor: pointer;
    

}
.fmenuTitle{

    font-size: 20px;
}
.flistLink{
    font-size: 13px;
    margin-bottom: 0px;
    text-decoration: none;

}
#tel{
    font-size: 13px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #000;
}
#tel:hover{
    color: #55d6aa;
}
.fmenuList{
    padding: 0;
    list-style: none;

}
.flistItem{
    margin-bottom: 10px;
    color: grey;
    cursor: pointer;
}
.copyright{
    font-weight: 300;

}