/* index.html
    header and body*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;

}

.row{
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #3333;
    transition: 0.3s ease-in-out;

}
header.sticky{
    background: rgba( 255, 255, 255, 1 )
}
header:hover{
    background: #3333;
}

.logo{
    flex: 1;

}

.menu{
    flex: 3;
    display: flex;

}
.menu > li{
    padding: 0 12px ;
    position: relative;

}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 50px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #000;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu li a{
    font-weight: normal;
    font-size: 12px!important;
}

.menu > li > a{
    font-size: 12px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}

.function {
    flex: 1;
    display: flex;
}
.function > li{
    padding: 0 12px;
}

.function > li:first-child {
    position: relative;
}
.function > li:first-child input{
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.function > li:first-child i{
    position: absolute;
    right: 10px;
    
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}


.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
   

  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
  }

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 14px;
    width: 14px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #000;
}


/* Featured Services */

.categories{
    margin: 30px 0;
}
.col-3{
    flex-basis:30%;
    width: 30%;
    padding-left: 41px;
    margin-bottom: 10px;
    display: inline-block;   
}

.col-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.small-container{
    max-width: 1300px;
    padding-left: 50px;

}
h2{
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    padding-left: 100px;
}

h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color:#000;
    margin: auto;
    margin-top: 10px;
}
h4{
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}


.col-4{
    flex-basis: 25%;
    width: 25%;
    padding-left: 41px;
    margin-bottom: 10px;
    display: inline-block;  
    transition: all 0.5s ease-in-out;
}
.col-4:hover{
    transform: translateY(-5px);

}
.col-4 p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 13px;
    position:relative;
    color:#555;
    line-height: 20px;
}
.col-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Featured products */
.col-4{
    flex-basis: 25%;
    width: 20%;
    padding-left: 61px;

    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    
}
.col-4-price{
    text-decoration: line-through;
}

.footer {
    text-align: center;
}

/* top */

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;

}
.footer-top img {
    height: 50px;

}

.footer-top li {
    padding: 0 12px;
    position: relative;

}

.footer-top li {
    padding: 0 12px;
    position: relative ;

}

.footer-top li::after {
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
} 

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
}


/* center */
.footer-center {
    text-align: center;

}
.footer-bottom {
    margin: 20px 0;
    text-align: center;
}

/* Footer cua Thuan */

/* app container */
.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-social-network {
    margin: 9px;
}

.app-social-network img {
    cursor: pointer;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

/* Footer */

.footer {
    text-align: center;
}

/* top */

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 0px;

}
.footer-top img {
    height: 50px;

}

.footer-top li {
    padding: 0 12px;
    position: relative;

}

.footer-top li {
    padding: 0 12px;
    position: relative ;

}

.footer-top li::after {
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
} 

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
}


/* center */
.footer-center {
    text-align: center;
    margin-top: 50px;
}
.footer-bottom {
    margin: 20px 0;
    text-align: center;
}
/*Category*/
.category{
    padding: 100px 0 0;
}

.category-top{
    margin-bottom: 50px;
}

.category-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.category-main{
    width: 80%;
    display: inline-flex;
    padding-left: 100px;
    justify-content: space-between;
    margin: 0 auto;
}

.category-main-top-item:first-child{
    flex:2;
    font-size:16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}

.category-main-top-item{
    flex: 1;
    padding: 0 12px;
}

.category-main-top-item button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-left: 30%;
    
}
.category-main-top-item select{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-left: 90%;

}
.category-main-content{
    margin-top:30px;
    display:inline-block;
    
}

.category-main-content img{
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.category-main-content-item{
    width: calc(25%-12px);
    text-align: center;
    padding: 12px 0;
    
}

.category-main-content h1{
    font-size: 13px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
} 


/* Product */
.product{
    padding: 100px 0 ;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
   
}

.product-content-left{
    width: 50%;
}
.product-content-right{
    width: 50%;
}

.product-content-left-big-img{
    width:80%;
    padding-right: 20px;
}

.product-content-left-big-img img{
    width: 100%;
    padding-left: 10%;

}

.product-content-left-small-img{
    width: 20%;
}

.product-content-left-small-img img{
    width: 100%;
    cursor: pointer;
}

.product-content-right{
    width: 50%;
    padding-left: 20px;
}

.product-content-right-product-name h1{
    font-size: 16px;
    font-family: var(--main-text-font);
 
}

.product-content-right-product-name p{
    color :#cccccc;
    font-size: 12px;
    padding: 10px;
}

.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}

.quantity{
    display: flex;
   margin-bottom: 20px; 
}
.quantity input{
    width:35px;
    padding-left: 3px;
    display: block;
}

.product-content-right-product-button button{
    width: 150px;
    height:40px;
    display: block;
    margin:20px 0 12px;
    transition: 0.3s ease-in-out;
}

.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;

}

.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: #fff;

}

.product-content-right-product-icon{
    display: flex;
}

.product-content-right-product-icon-item{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 12px;
}



.product-content-right-bottom{
    padding-top: 40px;
    border-top:1px solid #dddddd;
    position: relative;
 
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border:1px solid #dddddd ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left:50%;
    border-radius: 50%;
   transform: translate(-50%);
}

.product-content-right-bottom-content-title{
    border-bottom: 2px solid #dddddd;

}
.product-content-right-bottom-content-title-item{
    padding: 10px;
    
    margin-right: 10px;
}

.product-content-right-bottom-content-title-item p{
    cursor: pointer;
    font-family: var(--main-text-font);
    font-size: 17px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
}

.product-content-right-bottom-content {
    font-family: var(--main-text-font);
    font-size: 16px;
    
}

/* Product-related */
.product-related{
    margin-bottom: 50px;
}
.product-related-title{
    margin: 20px 0;
} 

.product-related-title p{
    font-family: var(--main-text-font);
    font-size: 16px;
    font-weight: bold;
    color: #333333;


}

.product-related-item{
    width: 20%;
    text-align: center;
    padding: 0 6px;
}

.product-related-item img{
    width:100%;
}

.product-related-item h1{
    font-family: var(--main-text-font);
    font-size: 15px;
    color: #333333;
    margin-top: 16px;
}

.product-related-item  p {
    font-size: 12px;
    text-decoration: line-through;
}

/* Cart */
.cart{
    padding: 100px 0;
}

.cart-top-wrap{
 display: flex;
 justify-content: center;
 align-items: center;

}
.cart-top{
    height:2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 100px;
   
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border : 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.cart-top-item i{
    color: #dddddd;
}
.cart-top-cart{
    border: 1px solid #0DB7EA;

}
.cart-top-cart i{
    color: #0DB7EA;
}
.cart-content-left{
    flex: 2;
    margin-right: 12px;
}

.cart-content-left table{
    width: 100%;
    justify-content: center;

}

.cart-content-left table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left table p{
    font-size: 12px;
    font-family: var(--main-text-font);
    color: #333;

}

.cart-content-left table input{
    width: 30px;

}

.cart-content-left table i:hover{
    cursor: pointer;
    color: red;
}
.cart-content-left table i{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cart-content-left td{
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
    padding-left: 5%;
}

.cart-content-left td:first-child img{
    width: 200px;
    margin-left: 20%;
}

.cart-content-left td:nth-child(2){
    max-width: 130px;
}

.cart-content-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table{
    width: 100%;

}

.cart-content-right table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}

.cart-content-right tr td:last-child{
    text-align: right;
}
.cart-content-right-text{
    margin: 20px 0;
    text-align: center;

}
.cart-content-right-text p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;

}
.cart-content-right-button{
    text-align: center;
    justify-content: center;
}
.cart-content-right-button button{
    padding: 0 18px;
    height: 35px;
    cursor: pointer;

}

.cart-content-right-button button:first-child{
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}

.cart-content-right-button button:first-child:hover{
    background-color: #000;
    color: #fff;
}

.cart-content-right-button button:last-child{
    background-color: #000;
    color: #fff;
    border: none;
    border: 1px solid #000;
    transition: 0.3s ease-in-out;
}

.cart-content-right-button button:last-child:hover{
    background-color: #fff;
    color: black;
}
.cart-content-right-login{
    margin-top: 20px;

}
.cart-content-right-login p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

/* Delivery */
.delivery{
    padding: 100px 0;
}
.delivery-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
.delivery-top{
       height:2px;
       width: 70%;
       background-color: #dddddd;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 50px 0px 100px;
      
   }
.delivery-top-item{
       width: 40px;
       height: 40px;
       border-radius: 50%;
       border : 1px solid #dddddd;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #fff;
   }
.delivery-top-item i{
       color: #dddddd;
}

.delivery-top-address{
    border: 1px solid #0DB7EA;
}
.delivery-top-address i{
    color: #0DB7EA;
}

.delivery-content{
    margin-left: 50px;
}
.delivery-content-left{
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p{
    font-family: var(--main-text-font);
    font-size: 15px;

}
.delivery-content-left label{
    font-family: var(--main-text-font);
    font-size: 15px;
    margin-bottom: 6px;
    display: block;
}

.delivery-content-left>p{
    font-weight: bold;
}

.delivery-content-left-login {
    margin-top: 12px;
}

.delivery-content-left-login i{
    font-size: 12px;
    margin-right: 12px;

}

.delivery-content-left-guest{
    margin: 12px 0;

}

.delivery-content-left-guest input{
    margin-right: 12px;
}

.delivery-content-left-register{
    margin-bottom: 30px;
}

.delivery-content-left-register input{
    margin-right: 12px;
}

.delivery-content-left-input-top{
    justify-content: space-between;

}

.delivery-content-left-input-top-item{
    width: calc(50%-12px);
}

.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery-content-left-input-bottom input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery-content-left-button p{
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 15px;
}

.delivery-content-left-button span{
    margin-right: 12px;
}

.delivery-content-left-button{
    justify-content: space-between;
    padding-top: 20px;
}

.delivery-content-left-button button{
    height: 35px;
    border: 1px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;
}
delivery-content-left-button a{
    text-decoration: bisque;
    color: bisque;
}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}

.delivery-content-right table{
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 15px;
    text-align: center;

}

.delivery-content-right table tr th:first-child{
    text-align: left;
}

.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;

}

.delivery-content-right table tr th:last-child{
    text-align: right;
}

.delivery-content-right table tr td{
    padding: 6px 0;
}

.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}

.delivery-content-right table tr td:last-child{
    text-align: right;
}

.delivery-content-right table tr td:first-child{
    text-align: left;
}

/* Payment */
.payment{
    padding: 100px 0;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
.payment-top{
       height:2px;
       width: 70%;
       background-color: #dddddd;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 50px 0px 100px;
      
   }
.payment-top-item{
       width: 40px;
       height: 40px;
       border-radius: 50%;
       border : 1px solid #dddddd;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #fff;
   }
.payment-top-item i{
       color: #dddddd;
}

.payment-top-payment{
    border: 1px solid #0DB7EA;
}
.payment-top-payment i{
    color: #0DB7EA;
}

.payment-content-left{
    width: 60%;
    padding: 0 12px;
    justify-content: space-between;
}
.payment-content-right{
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}

.payment-content-left p,label{
    font-size: 15px;
    font-family: var(--main-text-font);

}

.payment-content-right-button{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}
.payment-content-right-button input{
    height: 40px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}

.payment-content-right-button button{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 12px;
}
.payment-content-right-button button:hover{
    background-color: #0DB7EA;
    
}

.payment-content-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.payment-content-right-payment button{
    height: 35px;
    padding: 0 12px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.payment-content-right-payment button:hover{
    background-color: black;
    color: white;
}

.payment-content-left-method-payment-item-img img{
    width: 30%;
    height: 30%;
    object-fit: cover;

}

/* About Us */

.about-left{
    width: 60%;
    margin-left: 20px;
}
.about-left p{
    font-family: "Montserrat",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Avenir,"Helvetica-Neue","Helvetica","Arial",sans-serif;
}
.about-header h1{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    padding-left: 100px;
}

.about-header h1::after{
    content: '';
        display: block;
        width: 100px;
        height: 5px;
        background-color:#000;
        margin: auto;
        margin-top: 10px;
}
.intro-image img{
    margin-top: 20px;
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding-left: 10px;
}
.intro-image figcaption{
    font-size: 15px;
    font-family: var(--main-text-font);
    margin-top: 10px;
    margin-left: 140px;
}
.about-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}